<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow+Semi+Condensed|Cuprum|Lato|News+Cycle|Open+Sans|Oxygen|Sarabun&display=swap" rel="stylesheet">
    <title>US Citizen Exam - Practice</title>
</head>
<body>
    <header class="header">
        <h1>US Citizenship Naturalization Interview Prep</h1>
        <p>Practice all 100 USCIS interview questions</p>
    </header>

    <div class=bodydiv>
        <div id="flashCard">
            <div class="container-button">

                <div >
                    <p>Great work!</p>
                </div>
                <div >
                    <p>Questions practiced: <%= practiced %></p>
                </div>
                <div class="red">
                    <p>Answers shown: <%= shown %></p> 
                </div>
                <div >
                    <button onclick="window.location.href='/question/1'" class="cssButton">Restart</button>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="public/javascripts/finish.js"></script>
</body>
</html>