<!DOCTYPE html>
<head>
    <!-- <meta charset="utf-8" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css">
    <title>US Citizen Exam - Practice</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>US Citizenship Interview - Practice Questions</h1>
        <p>Practice all 100 USCIS interview questions.</p>
    </header>
    <div>
        <p>Thank you for using this app!</p>
        <p>Restart?</p>
        <form action="/start", method="GET">
            <button id="restart" class="button">Restart</button>
        </form>
    </div>
    <div id="container">
            <div>
                <p id="question">Questions practiced: <%= practiced %></p>
            </div>
            <div id="answer">
                <ul id="answerList">
                    <li class="answerLi">Answers shown: <%= shown %></li>
                </ul>
            </div>
        </div>

    <script type="text/javascript" src="public/javascripts/finish.js"></script>

</body>
</html>