html {
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.80)),
    url(../images/usa.jpg);
    background-size: cover;
}
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
header {
    font-family: 'Prata';
    margin: 50px auto;
}
header p {
    color: #BF0A30;
    font-size: 1.2em;
}
h1 {
    color: #3c3b6e;
}
#locationContainer {
    display: none;
    margin: 25px auto;
}

#selectLabel, #selectZipLabel{
    font-size: 14px;
}

#zipContainer {
    margin: 25px auto;
    display: none;
}

#navButtons {
    margin: 25px auto;
}
#startButton {
    border-style: 1px;
    border-color: #3c3b6e;
    display: none;
}
#resetButton {
    border-style: 1px;
    border-color: black;
    display: none;
}
#container {
    max-width: 50%;
    margin: 50px auto;
    padding: 1em;
    border: 1px solid #3c3b6e;
    border-radius: 10px;
    border-color: rgba(60, 59, 110, 0.4);
    /* border-color: rgba(191, 10, 48, 0.4); */
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: rgba(191, 10, 48, 0.075); */
}
#question, #answer, #button-area{
    margin: 50px auto;
    max-width: 90%;
    /* border: 1px solid black; */
    
}
#question {
    color: #3c3b6e;
    line-height: 1.7em;
    font-size: 1.2em;
}
#answerList {
    padding: 0;
}
#answerList li {
    list-style: none;
    font-size: 1.15em;
    margin: 15px auto;
    /* padding: auto; */
    /* margin: auto; */
    width: 100%;
    color: #BF0A30;
    
}

#showAnswerButton {
    display: none;
}
#showAnswerButton:focus {
    border: 1px dotted #3c3b6e;
}
#nextQuestionButton {
    display: none;
}